* {
    font-family: Georgia;

}

.baner1 , .baner2 {
    background-color: Navy;
    color: white;
    text-align: center;
    height: 100px;
    width: 50%;
}

.menu {
    background-color: Navy;
    padding: 20px;

}

label{
    color: Silver;
    margin: 50px;
}

label:hover{
    color: white;
    text-decoration: underline;
}

.prawy , .lewy{
    background-color: Azure;
    height: 550px;
}

.lewy{
    width: 70%;

}

.prawy{
    width: 30%;
}

.stopka{
    background-color: Navy;
    color: white;
}

table{
    border: solid 1px Navy;
    margin: auto;
    width: 70%;
}

tr:hover{
    background-color: SkyBlue;
}

img .prawy {
    height: 90%;
}

.xd {
    display: flex;
}

header{
    display: flex;
}